{{ if not (eq .Site.Params.dark "on") -}}
@media (prefers-color-scheme: dark) {
{{ end -}}
html {
    scrollbar-color: #6c6c6c #2e2e2e;
}

body {
    color: #e6ebee;
    background: #0f1214;
}

main#content {
    background: #151a1d;
    border-color: #2b353b;
}

header#banner {
    background: #151a1d;
    border-color: #2b353b;
}

header#banner a {
    color: #e0e0e0;
    text-decoration: none;
}

header#banner nav ul li a {
    color: #cccccc;
}

header#banner nav ul li a:hover {
    background: #223039;
    color: #f1f1f1;
}

main#content a {
    color: #5eb5ff;
}

main#content p {
    color: #e6edf1;
}

main#content hr {
    background: #5c5c5c;
}

main#content #toc h4 {
    color: #d4d4d4;
}

main#content ul#posts small {
    color: #a7a7a7;
}

main#content ul#posts li a:hover {
    color: #21c7ff;
}

main#content ul#posts li {
    border-color: #2e2e2e;
}

main#content ul#posts li:hover {
    border-color: #414141;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.45);
}

main#content blockquote {
    border-left-color: #6e8794;
    background: #1b252b;
}

main#content pre {
    border-color: #32404a;
    background: #13191d;
}

main#content header#post-header time {
    color: #a7a7a7;
}
{{- if not (eq .Site.Params.dark "on") -}}
}
{{- end -}}
