{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if .Params.date }}<h4 class="date">First posted on: {{ .Date.Format "2006/01/02" }}</h4>{{ end }}
<h4 class="date">Last modified: {{ .GitInfo.AuthorDate }}, <a href="https://github.com/amitsaha/echorand.me/commit/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a></h4>


<p class="terms">
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
</p>
</div>

{{ if not .Params.toc }}
{{ .TableOfContents }}
{{ end }}

<main>
{{ .Content }}
</main>

{{ partial "footer.html" . }}
